* {
	box-sizing: border-box;
}

.main-nav {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 10px;
	background: tomato;
	opacity: 50%;
}


.block {
	width: 1000px;
	min-height: 250px;
	margin: 10px;
	padding: 10px;
	background-color: lightgrey;
}

.block-modal-test {
	position: relative;
	display: none;
	width: 250px;
	height: 340px;
	margin: 100px auto;
	border: 1px solid black;
	overflow: hidden;
}

.form-slider {
	width: 500px;
	height: 340px;
	margin-left: 0px;
	background-color: bisque;
	transition: 1s ease all;
}

.left-50, .right-50 {
	float: left;
	width: 50%;
	min-height: 50px;
	padding: 10px;
	background: red;
}

.right-50 {
	max-height: 340px;
	overflow-y: scroll;
	background: green;
}

.read-rules, .read-rules-back {
	color: white;
	cursor: pointer;
}

.block-range__cont {
	position: relative;
	width: 300px;
	height: 60px;
	margin: 0;
	padding: 0;
	/*border: 1px solid grey;*/
}

.block-range__cont input {
	position: absolute;
	bottom: 0px;
	width: 300px;
}

.block-range__text {
	position: absolute;
	left: 136px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	/*border: 1px solid grey;*/
	background: tomato;
}

.call-apply-bind__button {
	width: 200px;
	height: 60px;
	font-size: 22px;
	font-weight: bold;
	color: white;
	background-color: orange;
	border-radius: 15px;
	border: 2px solid black;
}

.call-apply-bind__button:hover {
	background-color: cyan;
}

.call-apply-bind__button:active {
	opacity: 0.3;
}

.toggle-canva {
	position: relative;
	width: 50px;
	height: 30px;
	border-radius: 15px;
}

.toggle-canva--off {
	background-color: grey;
}

.toggle-canva--on {
	background-color: green;
}

.toggle-circle {
	position: absolute;
	top: 2px;
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	
}

.toggle-circle--off {
	left: 2px;
}

.toggle-circle--on {
	right: 2px;
}

.toggle-text {
	display: none;
}